# mariadb | postgres | mongodb
DB_TYPE=postgres

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydatabase
DB_USER=myuser
DB_PASSWORD=mypassword

# AWS
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-south-1

# S3
S3_BUCKET=my-db-backups
S3_PREFIX=database-backups

# S3 server-side encryption
S3_ENCRYPTION=AES256
